a:hover {
    color: #4e6be2;
}

.bgimage {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(rgb(33, 62, 82, 0.73),
    rgba(33, 62, 82, 0.73)), url("../images/lijicup.png");)
    opacity: 50%;
    filter: brightness(100%);
}

.timer {
    font-size: 19vw;
    margin: 5% 0;
    color: white;
    filter: brightness(120%);
    text-align: center;
    font-family: 'Noto Serif Simplified Chinese', serif;

}

.title {
    margin: 10% 0 0 0;
    text-align: center;
    font-size: 5vw;
    color: white;
    font-family: 'Ma Shan Zheng', serif;
}

.startButton {
    font-size: 2vw;
    margin: 0 1%;
    color: white;
    filter: brightness(120%);
    text-align: center;
    font-family: 'Ma Shan Zheng', serif;
}

.startButton:hover {
    color: #7b7ba4;
}

body {
    text-align: center;
}

.nextLink {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 25px solid darkgray;
    border-bottom: 12.5px solid transparent;
    position: absolute;
    bottom: 2%;
    right: 1%;
    opacity: 50%;
    float: right;
}

.prevLink {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-right: 25px solid darkgray;
    border-bottom: 12.5px solid transparent;
    position: absolute;
    bottom: 2%;
    left: 1%;
    opacity: 50%;
    float: left;
}

.prevLink:hover {
    border-right: 25px solid white;
}

.nextLink:hover {
    border-left: 25px solid white;
}

h1 {
    margin: 20% 0 0 0;
    text-align: center;
    font-size: 10vw;
    color: white;
    font-family: 'Ma Shan Zheng', serif;
}

h2 {
    margin: 37vh 0 0 0;
    text-align: center;
    font-size: 6.6vw;
    color: white;
    font-family: 'Ma Shan Zheng', serif;
}

h3 {
    margin: 30vh 0 3vh 0;
    font-size: 3vw;
    color: white;
    font-family: 'Ma Shan Zheng', serif;
}

#eng {
    font-family: "Libre Baskerville", sans-serif
}

table {

    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    opacity: 50%;
}

th {
    background-color: rgb(235,235,235);
    opacity: 70%;
}

td {
    text-align: center;
    font-size: xx-large;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
}